.card_cart_icon {
  font-weight: bold;
  font-size: 20px;
  padding-right: 5px;
}
.card_btn {
  background-color: #f43127;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 8px 18px;
}
.card_btn:hover {
  color: #f43127;
  background-color: white;
  border: 2px solid #f43127;
}

.view_cart_btn {
  width: 160px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #fff;
  color: #f43127;
  border: solid 2px #f43127;
  font-weight: 700;
  font-size: 13px;
  padding: 13px 20px;

  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  margin-left: 20px;
}
.view_cart_btn:hover {
  width: 160px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #f43127;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 13px;
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  margin-left: 20px;
}
