table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  text-align: left;
  margin-top: 50px;
  color: #555555;
}

td {
  border-bottom: 1px solid grey;
}

th {
  background-color: #f5f5f5;
  color: #555555;
}
th {
  padding: 25px 30px;
}

td {
  padding: 7px 30px;
}
th:first-child {
  border-radius: 50px 0 0 50px;
}
th:last-child {
  border-radius: 0 50px 50px 0;
}
.subtotal_delete_wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 500;
  font-weight: 500;
}

.img_title_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.img_title_wrapper .title {
  padding-left: 20px;
  font-weight: 600;
}

table img {
  width: 100px;
}
.delete {
  color: #f43127;
}

.empty_cart {
  text-align: center;
  padding: 50px;
  font-size: 1.5rem;
}
.empty_cart p {
  margin-bottom: 40px;
}

.empty_cart span {
  color: #f43127;
  font-weight: 700;
}

.back_to_home_btn {
  width: 160px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #fff;
  color: #f43127;
  border: solid 2px #f43127;
  font-weight: 700;
  font-size: 13px;
  padding: 13px 20px;

  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  margin-left: 20px;
}
.back_to_menu_btn:hover {
  width: 160px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #f43127;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 13px;
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  margin-left: 20px;
}
