.about_section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 3rem;
  height: 70vh;
  padding-top: 8rem;
}

.about_section img {
  width: 50%;
}

.about_section_info {
  font-size: 1.3rem;
  height: 95%;
  padding-top: 2rem;
}

.about_section_title_text_wrapper {
  text-align: start;
}

.about_section_title_text_wrapper h1 {
  color: #252525;
  font-size: 2.5rem;
  padding-top: 15px;
  font-weight: 790;
}
.about_section_title_text_wrapper span {
  color: #f43127;
  margin-bottom: 50px;
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .about_section_info {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about_section_info {
    width: 100%;
  }
  .about_section_images {
    display: none;
  }
}
