header {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}
.book_table_btn {
  color: #fff;
  background-color: #f43127;
  padding: 15px 20px;
  width: 200px;
  font-size: 16px;
  margin-top: 17px;
}
.book_table_btn:hover {
  color: #f43127;
  background-color: white;
  border: 2px solid #f43127;
}
header .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}
.header_content {
  text-align: start;
  width: 38%;
}
.pizza_img {
  max-width: 37%;
  height: auto;
}
h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  header {
    padding-bottom: 3rem;
  }
  header .wrapper {
    padding-top: 10rem;
    flex-direction: column;
  }
  .header_content {
    text-align: center;

    width: 87%;
    padding-bottom: 1.5rem;
  }
  .pizza_img {
    max-width: 80%;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    padding-bottom: 0px;
  }
  h1 {
    font-size: 2.3rem;
  }
  .pizza_img {
    max-width: 46%;
  }
  .header_content {
    width: 44%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .wrapper {
    padding-top: 9rem;
  }
}
