* {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #f43127;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  color: #ffffffe3;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 200;
}

.transparent_nav {
  position: absolute;
  background-color: transparent;
  border-bottom: solid 1px rgb(182 182 182 / 19%);
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
nav ul li {
  padding-left: 20px;
}
nav ul li:hover {
  color: #fcb305;
}

.cart_icon {
  font-weight: 900;
  font-size: 40px;
  padding: auto 30px;
  position: relative;
}
.cart_quantity {
  position: absolute;
  top: -7px;
  left: 13px;
  color: #fcb305;
  font-size: 1.3rem;
}

.cart_icon:hover {
  color: #fcb305;
}

.icon_btn_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
}
.menu_wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotline {
  font-weight: 700;
  color: #ffffffe3;
  padding-left: 40px;
}
.hotline span {
  color: #fcb305;
}
.link {
  color: #ffffffe3;
}
.burger_menu_container {
  width: 37%;
  text-align: end;
  padding-right: 20px;
  position: relative;
}
.mobile_menu {
  width: 30vw;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: rgb(73 77 81 / 20%) 0px 8px 24px;
  border-radius: 3px;
  padding: 10px 0px;
}
.category_link {
  text-decoration: none;
  color: #555555;
  margin: auto;
  display: block;
  font-weight: 700;
  font-size: 1rem;
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 50px;
  transition: 0.4s ease-out;
  text-align: center;
}