.slider_section {
  padding: 120px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev_next_wrapper {
  margin-top: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.slider_next_arrow,
.slider_prev_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 1.8rem;
  color: #fc9c1a;
  font-weight: bold;
}

.slider_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .slider_menu {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .slider_section {
    padding: 2rem;
  }
  .slider_menu {
    flex-direction: column;
  }
}


